/* styles.css - Challenge #1 (Skeleton) */

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 233, 255);
    margin: 0;
}

#mascot-image {
    height: 180px;
}

.container {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;      /*IMPORTANT*/
    margin-right: auto;     /*IMPORTANT*/

    max-width: 800px;
}

.tagline {
    font-style: italic;
    color: grey;
}

.site-header >h1 {
    color: rgb(255, 0, 106);
    font-size: 3em;         /*IMPORTANT*/
}

.about {
    text-align: left;
    line-height: 1.6;       /*LINE SPACING*/
    margin-left: 20px;
    margin-right: 20px;
}

p {
    margin-top: 20px;       /*PARAGRAPH SPACING*/
}

.mascot-placeholder {
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    width: 220px;
    height: 220px;

    display: flex;
    justify-content: center;    /*HORIZONTAL ALIGN*/
    align-items: center;        /*VERTICAL ALIGN*/

    margin: auto;               /*CENTRES THE WHOLE BOX IN THE PAGE*/
}

#mascot-image {
    height: 90%;
    background-color: white;
}

main {
    margin-top: 30px;
}

.hero {
    margin-bottom: 30px;
}

.buy-tickets {
    padding: 10px 14px;
    font-size: 1em;
    font-weight: 600;
    background-color: green;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgb(99, 174, 249);
    margin-right: 20px;
    margin-bottom: 14px;
    transition: background-color 120ms ease, transform 80ms ease;
}

.buy-tickets:hover {
    background-color: rgb(1, 79, 1);
    transform: scale(1.1);
    cursor: pointer;
}

.make-donation {
    padding: 10px 14px;
    font-size: 1em;
    font-weight: 600;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgb(218, 7, 73);
    margin-right: 20px;
    margin-bottom: 14px;
    transition: background-color 120ms ease, transform 80ms ease;
}

.make-donation:hover {
    background-color: rgb(0, 0, 117);
    transform: scale(1.1);
    cursor: pointer;
}

.actions {
    margin-top: 15px;
}

.site-footer {
    margin-top: 30px;
    border-top: 1px solid grey;
    padding: 12px;
    color: grey;
}

