#parent {
    background-color: yellow;
    width: 600px;
    height: 400px;
    margin: auto;

    /* by default display: block; */
    display: flex; 
    flex-direction: column; /* makes children stack on top of each other */
    justify-content: center; /* centers vertically */
    text-align: center; /* centers horizontally, text */
    align-items: center; /* centers horizontally other elements*/
}

#justin-img {
    width: 70%;
}

/* p {
    text-align: left;
} this moves whatever is encase in <p></p> to the left*/